@tailwind base;
@tailwind components;
@tailwind utilities;

.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;

}

.navbar {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.blue-btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}


